// Body
$body-bg: white;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #10B981;
$secondary: #6366F1;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

.form-control {
    background-color: #F9FAFB !important;
}

label {
    color: #495057;
}

strong {
    color: #495057;
}

.boder-1 {
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.color-secondary {
    color: #6366F1;
}

.cursor {
    cursor: pointer;
}

legend {
  width: 82px !important;
  font-size: 1rem !important;
}

.text-legend {
  color: #495057;
}
